body{
  margin:0;
  padding:0;
}
.container{
  top:65px;
  position: relative;
  background-image: url('https://t1.daumcdn.net/cfile/tistory/2137E439521346182E');
  background-size: cover;
  color: white;
  max-width: 100vw;
  max-height: 100%;
  height: 400px;
  text-align: center;
  margin-top: 0px;

}
.body-text{
  position: absolute;
  text-align: center;
  z-index:100;
  top:30%;
  left:50%;
  width:100%;
  margin-top:-0.5em;
  margin-left: -50%;
  }

h2{
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-style: oblique;
  margin-top:0px;
  margin-bottom:30px;
}
h1{
  z-index: 100;
  font-size: 60px;
  color: white;
  font-weight: bolder;
  margin-top:40px;
  margin-bottom:40px;
}
.img-cover{

  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}
nav{
    position: fixed;
    background-color: pink;
    margin: 0; padding:0;
    width: 100%;
    height: 65px;
    padding-top: 10;
    margin-top:0;
    margin-bottom: 0;
    z-index: 1000;


}
.navbrand{
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 0;
  padding-top: 30px;
  font-weight: bolder;
}
.navtag{
  float: right;
  margin-right: 10px;
  padding-top: 40px;
  right:100%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

}
a{
  text-decoration: none;

}
.navtitle{
  margin: 3px;
  text-decoration: none;
  color: white;
}
.navtitle:hover{
  color: hotpink;
}
.download{
  background-color: #aec6cf;
  border-radius: 10px;
  padding: 10 10 10 10;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;

}
.download:hover{
  opacity: 0.8;
}
